Source: deepin-app-store
Maintainer: Xu Shaohua <xushaohua@deepin.com>
Section: admin
Priority: optional
Build-Depends:
 ca-certificates,
 cmake,
 debhelper (>= 9),
 libdtkwidget-dev,
 qtwebengine5-dev,
 libqt5webchannel5-dev,
 libsass-dev,
 pkg-config,
 deepin-gettext-tools,
 qttools5-dev-tools,
 qttools5-dev,
 python3-lxml,
 golang-go,
 golang-dlib-dev,
 golang-github-linuxdeepin-go-dbus-factory-dev,
 golang-github-go-ini-ini-dev,
 libdframeworkdbus-dev
Standards-Version: 3.9.5
Homepage: https://www.deepin.com
Vcs-Git: https://github.com/linuxdeepin/deepin-app-store
Vcs-Browser: https://github.com/linuxdeepin/deepin-app-store

Package: deepin-app-store
Architecture: any
Depends:${shlibs:Depends}, ${misc:Depends},
 lastore-daemon (>=0.9.62),
 libqt5dbus5,
 libqt5sql5-sqlite,
 deepin-sync-daemon,
 deepin-deepinid-client,
 libqt5webengine-data,
 deepin-app-store-data (>=5.3) [!mips64el],
 deepin-app-store-data-aot (>=5.3) [mips64el]
Replaces: dstore-client
Description: Deepin App Store
 Deepin App Store Client.