#!/usr/bin/make -f

export DH_VERBOSE=1
export QT_SELECT=qt5

VERSION = $(shell dpkg-parsechangelog -ldebian/changelog -SVersion | sed 's/.*.is.//g')
_PACK_VER = $(shell echo $(VERSION) | awk -F'[+_~-]' '{print $$1}')
CONFIG_VERSION = $(_PACK_VER)

%:
	dh $@  --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DUSE_SYSTEM_RESOURCES=ON -DCONFIG_VERSION=$(CONFIG_VERSION)


